:root {
    --text-primary: rgba(0, 0, 0, 1);
    --text-secondary: rgba(206, 206, 206, 1);
    --background-primary: rgba(255, 255, 255, 1);
    --background-secondary: rgba(0, 0, 0, 1);
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    background-color: var(--background-secondary);
}

nav {
    padding: 8px;
    max-width: 1656px;
    margin: auto;
    color: var(--text-secondary);
    display: flex;
}

nav p {
    font-size: 1.8rem;
    margin-right: 48px;
}

.header-logo {
    padding: 4px 8px;
    background-color: rgb(202, 0, 0);
    font-size: 1.8rem;
    border-radius: 5px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 34px;
}

nav > ul > li {
    list-style: none;
    font-size: 1.2rem;
}

.hero-home-img {
    height: 400px;
    width: 100%;
    background-image: url(./assets/images/monstrossa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}

.hero-home-img h1 {
    font-size: 3.6rem;
}

.hero-home-img h2 {
    margin-top: 9px;
    font-size: 2.2rem;
}

.hero-flex {
    width: 1080px;
    margin: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.white-opacity {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.bar p{
    font-size: 1.4rem;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    padding: 11px 0px 11px 13px;
    color: #A9A4A4;
}

.button p{
    font-size: 1.4rem;
    border-radius: 0px 5px 5px 0px;
    background-color: #C0392B;

    color: white;
    padding: 11px;
    text-align: center;
}

.bar {
    width: 933px;
}

.button {
    width: 153px;
}

.search {
    padding-top: 34px;
    display: flex;
    margin: auto;
    width: 1080px
}

.card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.card h3 {
    font-size: 2.2rem;
}

.cards-group {
    max-width: 1201px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 39px;
    margin-top: 58px;
}

.card-img {
    height: 300px;
    width: 209px;
}

.wolves {
    background-image: url(/assets/images/wolves.png);
}

.loki {
    background-image: url(/assets/images/loki.png);
}

.supernatural {
    background-image: url(/assets/images/supernatural.png);
}

.atypical {
    background-image: url(/assets/images/atypical.png);
}

.handmaide {
    background-image: url(/assets/images/handmaid.png);
}

.sexeducation {
    background-image: url(/assets/images/sexeducation.png);
}

.anne {
    background-image: url(/assets/images/anne.png);
}

.sexify {
    background-image: url(/assets/images/sexify.png);
}